<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>red_die.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,206},{67,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,58}}</string>
                <key>sourceSize</key>
                <string>{67,58}</string>
            </dict>
            <key>red_fly0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,68},{81,64}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{81,64}}</string>
                <key>sourceSize</key>
                <string>{85,72}</string>
            </dict>
            <key>red_fly0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,68},{81,64}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{81,64}}</string>
                <key>sourceSize</key>
                <string>{85,72}</string>
            </dict>
            <key>red_fly0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,68},{81,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{81,66}}</string>
                <key>sourceSize</key>
                <string>{85,72}</string>
            </dict>
            <key>red_fly0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,68},{81,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{81,66}}</string>
                <key>sourceSize</key>
                <string>{85,72}</string>
            </dict>
            <key>red_fly0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,68},{81,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{81,66}}</string>
                <key>sourceSize</key>
                <string>{85,72}</string>
            </dict>
            <key>red_fly0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,68},{81,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{81,66}}</string>
                <key>sourceSize</key>
                <string>{85,72}</string>
            </dict>
            <key>red_fly0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,135},{79,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{79,64}}</string>
                <key>sourceSize</key>
                <string>{85,72}</string>
            </dict>
            <key>red_fly0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,133},{79,66}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{79,66}}</string>
                <key>sourceSize</key>
                <string>{85,72}</string>
            </dict>
            <key>red_fly0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,135},{79,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{79,64}}</string>
                <key>sourceSize</key>
                <string>{85,72}</string>
            </dict>
            <key>red_fly0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,133},{79,66}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{79,66}}</string>
                <key>sourceSize</key>
                <string>{85,72}</string>
            </dict>
            <key>red_fly0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,1},{81,66}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{81,66}}</string>
                <key>sourceSize</key>
                <string>{85,72}</string>
            </dict>
            <key>red_fly0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1},{81,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{81,66}}</string>
                <key>sourceSize</key>
                <string>{85,72}</string>
            </dict>
            <key>red_fly0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,1},{81,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{81,66}}</string>
                <key>sourceSize</key>
                <string>{85,72}</string>
            </dict>
            <key>red_fly0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1},{81,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{81,66}}</string>
                <key>sourceSize</key>
                <string>{85,72}</string>
            </dict>
            <key>red_fly0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,1},{81,66}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{81,66}}</string>
                <key>sourceSize</key>
                <string>{85,72}</string>
            </dict>
            <key>red_fly0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{81,66}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{81,66}}</string>
                <key>sourceSize</key>
                <string>{85,72}</string>
            </dict>
            <key>red_flyhit0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,200},{77,70}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{77,70}}</string>
                <key>sourceSize</key>
                <string>{87,72}</string>
            </dict>
            <key>red_flyhit0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,135},{77,70}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{77,70}}</string>
                <key>sourceSize</key>
                <string>{87,72}</string>
            </dict>
            <key>red_flyhit0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,271},{75,70}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{75,70}}</string>
                <key>sourceSize</key>
                <string>{87,72}</string>
            </dict>
            <key>red_flyhit0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,135},{77,70}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{77,70}}</string>
                <key>sourceSize</key>
                <string>{87,72}</string>
            </dict>
            <key>red_flyhit0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,135},{77,70}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{77,70}}</string>
                <key>sourceSize</key>
                <string>{87,72}</string>
            </dict>
            <key>red_flyhit0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,200},{77,70}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{77,70}}</string>
                <key>sourceSize</key>
                <string>{87,72}</string>
            </dict>
            <key>red_flyhit0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,135},{77,70}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{77,70}}</string>
                <key>sourceSize</key>
                <string>{87,72}</string>
            </dict>
            <key>red_flyhit0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,271},{75,70}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{75,70}}</string>
                <key>sourceSize</key>
                <string>{87,72}</string>
            </dict>
            <key>red_flyhit0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,135},{77,70}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{77,70}}</string>
                <key>sourceSize</key>
                <string>{87,72}</string>
            </dict>
            <key>red_hit0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,534},{51,49}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{51,49}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>red_hit0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,524},{51,49}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{51,49}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>red_hit0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,528},{51,51}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{51,51}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>red_hit0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,524},{51,51}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{51,51}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>red_hit0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,476},{51,51}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{51,51}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>red_hit0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,534},{51,49}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{51,49}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>red_hit0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,524},{51,49}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{51,49}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>red_hit0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,528},{51,51}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{51,51}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>red_hit0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,524},{51,51}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{51,51}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>red_hit0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,476},{51,51}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{51,51}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>red_sit0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,390},{49,53}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{49,53}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>red_sit0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,628},{49,51}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{49,51}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>red_sit0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,482},{51,51}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{51,51}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>red_sit0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,472},{51,51}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{51,51}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>red_sit0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,424},{51,51}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{51,51}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>red_sit0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,472},{51,51}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{51,51}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>red_sit0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,483},{51,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{51,49}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>red_sit0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,440},{51,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{51,49}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>red_sit0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,385},{53,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{53,49}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>red_sit0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,374},{53,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{53,49}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>red_sit0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,332},{53,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{53,49}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>red_sit0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,435},{53,47}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{53,47}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>red_sit0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,424},{53,47}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{53,47}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>red_sit0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,274},{55,47}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{55,47}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>red_sit0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,326},{55,47}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{55,47}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>red_sit0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{327,382},{53,47}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{53,47}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>red_sit0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,372},{53,47}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{53,47}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>red_sit0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,394},{53,47}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{53,47}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>red_sit0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,392},{53,47}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{53,47}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>red_sit0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,322},{53,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{53,49}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>red_sit0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,442},{51,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{51,49}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>red_sit0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,440},{51,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{51,49}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>red_sit0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,578},{51,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{51,49}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>red_sit0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,528},{51,49}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{51,49}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>red_sit0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,430},{51,51}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{51,51}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>red_sit0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,420},{51,51}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{51,51}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>red_sit0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,372},{51,51}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{51,51}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>red_sit0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,580},{49,51}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{49,51}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>red_sit0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,576},{49,51}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{49,51}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>red_sit0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,390},{49,53}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{49,53}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>red_tail_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,490},{49,47}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{49,47}}</string>
                <key>sourceSize</key>
                <string>{77,85}</string>
            </dict>
            <key>red_tail_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,200},{73,75}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{73,75}}</string>
                <key>sourceSize</key>
                <string>{77,85}</string>
            </dict>
            <key>red_tail_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,206},{73,73}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{73,73}}</string>
                <key>sourceSize</key>
                <string>{77,85}</string>
            </dict>
            <key>red_tail_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,200},{73,73}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{73,73}}</string>
                <key>sourceSize</key>
                <string>{77,85}</string>
            </dict>
            <key>red_tail_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,200},{73,73}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{73,73}}</string>
                <key>sourceSize</key>
                <string>{77,85}</string>
            </dict>
            <key>red_tail_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,274},{69,65}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{69,65}}</string>
                <key>sourceSize</key>
                <string>{77,85}</string>
            </dict>
            <key>red_tail_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,280},{63,55}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{63,55}}</string>
                <key>sourceSize</key>
                <string>{77,85}</string>
            </dict>
            <key>red_tail_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,342},{61,51}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{61,51}}</string>
                <key>sourceSize</key>
                <string>{77,85}</string>
            </dict>
            <key>red_tail_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,274},{63,51}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{63,51}}</string>
                <key>sourceSize</key>
                <string>{77,85}</string>
            </dict>
            <key>red_tail_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,340},{61,51}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,17},{61,51}}</string>
                <key>sourceSize</key>
                <string>{77,85}</string>
            </dict>
            <key>red_tail_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,336},{61,53}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,19},{61,53}}</string>
                <key>sourceSize</key>
                <string>{77,85}</string>
            </dict>
            <key>red_tail_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,274},{59,57}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,21},{59,57}}</string>
                <key>sourceSize</key>
                <string>{77,85}</string>
            </dict>
            <key>red_tail_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,323},{61,61}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,22},{61,61}}</string>
                <key>sourceSize</key>
                <string>{77,85}</string>
            </dict>
            <key>red_tail_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,265},{65,57}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,25},{65,57}}</string>
                <key>sourceSize</key>
                <string>{77,85}</string>
            </dict>
            <key>red_tail_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,1},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{77,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>redbird.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>redbird.png</string>
        </dict>
    </dict>
</plist>
