<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>yellow_die.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,354},{97,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,75}}</string>
                <key>sourceSize</key>
                <string>{97,75}</string>
            </dict>
            <key>yellow_fly0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,91},{98,90}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{98,90}}</string>
                <key>sourceSize</key>
                <string>{102,92}</string>
            </dict>
            <key>yellow_fly0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,91},{98,88}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{98,88}}</string>
                <key>sourceSize</key>
                <string>{102,92}</string>
            </dict>
            <key>yellow_fly0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,91},{98,88}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{98,88}}</string>
                <key>sourceSize</key>
                <string>{102,92}</string>
            </dict>
            <key>yellow_fly0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,182},{98,86}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{98,86}}</string>
                <key>sourceSize</key>
                <string>{102,92}</string>
            </dict>
            <key>yellow_fly0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,184},{98,86}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{98,86}}</string>
                <key>sourceSize</key>
                <string>{102,92}</string>
            </dict>
            <key>yellow_fly0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,269},{98,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{98,84}}</string>
                <key>sourceSize</key>
                <string>{102,92}</string>
            </dict>
            <key>yellow_fly0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,352},{98,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{98,82}}</string>
                <key>sourceSize</key>
                <string>{102,92}</string>
            </dict>
            <key>yellow_fly0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,269},{98,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{98,82}}</string>
                <key>sourceSize</key>
                <string>{102,92}</string>
            </dict>
            <key>yellow_fly0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,271},{98,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{98,82}}</string>
                <key>sourceSize</key>
                <string>{102,92}</string>
            </dict>
            <key>yellow_fly0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,267},{98,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{98,84}}</string>
                <key>sourceSize</key>
                <string>{102,92}</string>
            </dict>
            <key>yellow_fly0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,267},{98,84}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{98,84}}</string>
                <key>sourceSize</key>
                <string>{102,92}</string>
            </dict>
            <key>yellow_fly0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,182},{98,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{98,86}}</string>
                <key>sourceSize</key>
                <string>{102,92}</string>
            </dict>
            <key>yellow_fly0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,180},{98,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{98,86}}</string>
                <key>sourceSize</key>
                <string>{102,92}</string>
            </dict>
            <key>yellow_fly0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,180},{98,86}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{98,86}}</string>
                <key>sourceSize</key>
                <string>{102,92}</string>
            </dict>
            <key>yellow_fly0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,95},{98,88}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{98,88}}</string>
                <key>sourceSize</key>
                <string>{102,92}</string>
            </dict>
            <key>yellow_fly0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,93},{98,88}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{98,88}}</string>
                <key>sourceSize</key>
                <string>{102,92}</string>
            </dict>
            <key>yellow_flyhit0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,1},{99,89}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{99,89}}</string>
                <key>sourceSize</key>
                <string>{117,97}</string>
            </dict>
            <key>yellow_flyhit0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,1},{99,89}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{99,89}}</string>
                <key>sourceSize</key>
                <string>{117,97}</string>
            </dict>
            <key>yellow_flyhit0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,1},{99,89}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{99,89}}</string>
                <key>sourceSize</key>
                <string>{117,97}</string>
            </dict>
            <key>yellow_flyhit0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,1},{99,91}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{99,91}}</string>
                <key>sourceSize</key>
                <string>{117,97}</string>
            </dict>
            <key>yellow_flyhit0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{99,93}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{99,93}}</string>
                <key>sourceSize</key>
                <string>{117,97}</string>
            </dict>
            <key>yellow_hit0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,879},{88,76}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,17},{88,76}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>yellow_hit0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,879},{88,76}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,12},{88,76}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>yellow_hit0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,880},{88,76}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,14},{88,76}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>yellow_hit0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,880},{88,76}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,13},{88,76}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>yellow_hit0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,879},{88,76}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,14},{88,76}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>yellow_sit0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,803},{88,76}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{88,76}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>yellow_sit0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,802},{88,76}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{88,76}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>yellow_sit0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,735},{88,76}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{88,76}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>yellow_sit0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,725},{88,76}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{88,76}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>yellow_sit0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,879},{88,74}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{88,74}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>yellow_sit0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,660},{90,74}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{90,74}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>yellow_sit0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,650},{90,74}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{90,74}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>yellow_sit0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,651},{90,74}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{90,74}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>yellow_sit0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,575},{92,74}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,16},{92,74}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>yellow_sit0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,510},{92,74}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{92,74}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>yellow_sit0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,500},{92,74}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{92,74}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>yellow_sit0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,500},{92,72}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{92,72}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>yellow_sit0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,352},{94,72}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,18},{94,72}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>yellow_sit0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,352},{94,72}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,18},{94,72}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>yellow_sit0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,354},{96,72}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{96,72}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>yellow_sit0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,430},{94,72}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,18},{94,72}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>yellow_sit0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,427},{94,72}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,18},{94,72}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>yellow_sit0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,578},{92,72}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{92,72}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>yellow_sit0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,425},{92,74}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{92,74}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>yellow_sit0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,503},{92,74}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{92,74}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>yellow_sit0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,500},{92,74}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{92,74}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>yellow_sit0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,435},{92,74}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,16},{92,74}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>yellow_sit0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,650},{90,74}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{90,74}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>yellow_sit0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,585},{90,74}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{90,74}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>yellow_sit0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,575},{90,74}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,16},{90,74}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>yellow_sit0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,573},{90,76}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{90,76}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>yellow_sit0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,650},{88,76}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{88,76}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>yellow_sit0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,726},{88,76}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{88,76}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>yellow_sit0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,725},{88,76}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{88,76}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>yellow_sit0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,803},{88,76}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,14},{88,76}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>yellow_tail_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,650},{62,52}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,12},{62,52}}</string>
                <key>sourceSize</key>
                <string>{102,92}</string>
            </dict>
            <key>yellow_tail_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,802},{70,58}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{70,58}}</string>
                <key>sourceSize</key>
                <string>{102,92}</string>
            </dict>
            <key>yellow_tail_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,802},{76,64}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{76,64}}</string>
                <key>sourceSize</key>
                <string>{102,92}</string>
            </dict>
            <key>yellow_tail_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,798},{84,68}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{84,68}}</string>
                <key>sourceSize</key>
                <string>{102,92}</string>
            </dict>
            <key>yellow_tail_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,425},{92,74}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{92,74}}</string>
                <key>sourceSize</key>
                <string>{102,92}</string>
            </dict>
            <key>yellow_tail_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,727},{88,70}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{88,70}}</string>
                <key>sourceSize</key>
                <string>{102,92}</string>
            </dict>
            <key>yellow_tail_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,812},{84,66}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,12},{84,66}}</string>
                <key>sourceSize</key>
                <string>{102,92}</string>
            </dict>
            <key>yellow_tail_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,867},{84,62}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{84,62}}</string>
                <key>sourceSize</key>
                <string>{102,92}</string>
            </dict>
            <key>yellow_tail_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,930},{84,58}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{84,58}}</string>
                <key>sourceSize</key>
                <string>{102,92}</string>
            </dict>
            <key>yellow_tail_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,969},{84,54}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,21},{84,54}}</string>
                <key>sourceSize</key>
                <string>{102,92}</string>
            </dict>
            <key>yellow_tail_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,969},{84,54}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,22},{84,54}}</string>
                <key>sourceSize</key>
                <string>{102,92}</string>
            </dict>
            <key>yellow_tail_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,968},{82,54}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,23},{82,54}}</string>
                <key>sourceSize</key>
                <string>{102,92}</string>
            </dict>
            <key>yellow_tail_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,968},{80,54}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,24},{80,54}}</string>
                <key>sourceSize</key>
                <string>{102,92}</string>
            </dict>
            <key>yellow_tail_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,968},{82,54}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,25},{82,54}}</string>
                <key>sourceSize</key>
                <string>{102,92}</string>
            </dict>
            <key>yellow_tail_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,1},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{102,92}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yellowbird.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>textureFileName</key>
            <string>yellowbird.png</string>
        </dict>
    </dict>
</plist>
